html,
body {
  position: relative;
  height: 100%;
}
*{
    box-sizing: border-box;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #121a21 80%);
  margin: 0;
  padding: 0;
}

.invisible{
  opacity: 0 !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    min-width: 20px;
    max-height: 70px;
    /* background-color: rgba(255,255,255,.1); */
}
.logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 10px #21e900; */
    background-image: url('../assets/brsao.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
    height: 100%;
    padding: 20px;
    /* border-radius: 30px; */
    border-radius: 30px 30px 0px 0px;
    background-color: rgba(50,50,50,.05);
    box-shadow: 1px 1px 1px 1px rgba(100,100,100,.1);
}

.slider{
    width: 100%;
    height: 85%;
}

.pag{
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.head_page{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 55px;
  /* background-color: red; */
} 
.img_info{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url('../assets/walle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.title_info{
  margin-top: 20px;
  color: white;
  font-size: 15px;
}
.head_page_info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 10px;
}
.pag_info{
  color: white;
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet-active{
  opacity: 1;
  background-color: #21e900;
}

.pag_home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  height: 100%;
}

.input{
  all: unset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
  padding: 10px;
  display: flex;
  width: 250px;
  max-width: 70vw;
  height: 30px;
  color: rgb(240,240,240);
  border-radius: 10px;
  margin-bottom: 30px;
  background: transparent;
  box-shadow: 0px 0px 1px 1px rgb(150,150,150);
}
.button{
  all: unset;
  cursor: pointer;
  display: flex;
  color: rgb(70, 70, 70);
  font-weight: bold;
  background-color: rgb(210, 255, 204);
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px ;
}
.pag_logo{
  width: 40px;
  height: 40px;
  margin-bottom: 50px;
  border-radius: 50%;
  background-image: url('../assets/walle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.reset{
  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  background-image: url('../assets/reset.png');
  background-position: center;
  background-size: contain;
}

.graph {
  margin: 20px;
  width: 70px;
  height: 25px;
}
.temp .progressbar-text::after{
  content: ' ºC';
  font-size: 7px;
}
.umid .progressbar-text::after{
  content: ' %';
  font-size: 7px;
}
.luz .progressbar-text::after{
  content: ' L';
  font-size: 7px;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temp_text{
  font-size: 12px;
  color: rgb(210,210,210);
  letter-spacing: 0.7px;
}